:root {
  --font-name: 'Noto Sans JP', sans-serif;

  /* Spacing | Global */
  --space-unit: 1em;
  --space-sm: calc(0.7 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));

  /* Color | Global */
  --color-white: #FFFFFF;
  --color-black-1: #3F3F3F;
  --color-black-2: #1C313A;;

  --color-grey-1: #455A64;
  --color-grey-2: #AEAEAE;
  --color-grey-3: #E0E0E0;
  --color-grey-4: #9E9E9E;

  --color-blue-1: #0039CB;
  --color-blue-2: #3D5AFE;
  --color-blue-3: #2962FF;
  --color-blue-4: rgba(41, 98, 255, 0.1);

  --color-red-1: #9A0007;
  --color-red-2: #D32F2F;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
